div.game {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #999;
}
div.App {
  background-color: #777;
}
div.App  div.game div {
  
  float: left;
  margin: 0 auto;
  width: 9%;
  background-color: rgb(211, 247, 223);
  height: 9vh;
  border: 2px solid black;
}
div.controls {
  position: absolute;
 
  right: 0;
}

div.controls button{
width: 50px;
height: 50px;
display: block;
margin: 5px;

}
div.App  div.game div.me {
  background-color: red;
}
div.App  div.game div.skaly {
  background-color: grey;
}
div.App  div.game div.end{
  background-color: black;
}